[filter "lfs"]
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
[user]
	name = gidiguru
	email = 81527773+gidiguru@users.noreply.github.com
