[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[user]
	name = gidiguru
	email = 81527773+gidiguru@users.noreply.github.com
[core]
	sshCommand = 'C:\\Windows\\System32\\OpenSSH\\ssh.exe'
